@import "../../../styles/settings.scss";

.root {
  padding-bottom: 5rem;
}

.dealRow {
  display: flex;
  gap: 20px;
  height: 500px;
  flex-direction: row;

  @media (max-width: 1200px) {
    height: 450px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: 550px;
  }

  @media (max-width: 576px) {
    height: 500px;
  }

  @media (max-width: 360px) {
    height: 700px;
  }
}

.photo {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50%;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

.bigDealContainer {
  height: 100%;

  @media (max-width: 768px) {
    height: 30%;
  }

  .dealDescryption {
    top: 40%;

    @media (max-width: 768px) {
      flex-direction: column;
      top: 30%;
    }

    @media (max-width: 576px) {
      top: 40%;
    }

    @media (max-width: 360px) {
      top: 40%;
    }
  }
}

.smallDealContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  @media (max-width: 768px) {
    height: calc(60% + 20px);
  }

  .dealDescryption {
    top: 45%;
  }
}

.dealDescryption {
  position: relative;
  color: $deals-text-color;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);

  p {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 5px 0;
    font-size: 26px;
    letter-spacing: 1px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  p + p {
    top: 75px;
    padding: 3px;
    border: 2px solid white;

    @media (max-width: 768px) {
      font-size: 20px;
      top: 50px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
      top: 40px;
    }
  }

  p span {
    margin: 0 2px;
  }

  p .bold {
    font-weight: 700;
    font-size: 22px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
    @media (max-width: 576px) {
      font-size: 18px;
    }
  }

  p .thin {
    font-weight: 300;
    font-size: 16px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  p .changeColor {
    color: $deals-highlight-color;
    font-weight: 600;
  }

  p .price {
    font-size: 20px;
    font-weight: 700;
    color: $deals-highlight-color;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}
