$base-padding: 24px;

// LIST OF VARIABLES WITH COLORS
$orange: #d58e32;
$lightGray: #434343;
$mediumGray: #363636;
$darkGray: #2a2a2a;
$borderDarkGray: #292929;

$header-topbar-bg: $lightGray;
$header-bg: $mediumGray;
$footer-claim-bg: $darkGray;
$footer-bg: $mediumGray;
$primary: $orange;
$text-color: $darkGray;
$form-border-color: $borderDarkGray;
