@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-bg;
  border: 1px solid $productBox-border;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: $productBox-overlay-bg;
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $productBox-icon-bg;
      border-radius: 50%;
      color: $productBox-icon-color;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      visibility: hidden;
      display: flex;
      justify-content: space-between;
    }
  }

  &:hover {
    .buttons {
      visibility: visible;
    }

    .priceBtn {
      background-color: $primary;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $productBox-title-color;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  &:hover {
    .buttons {
      visibility: visible;
    }

    .priceBtn {
      background-color: $productBox-price-hover-bg;  
    }

    h5 {
      color: $productBox-title-hover-color;
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $productBox-long-line-horizontal;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $productBox-short-line-horizontal;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      display: flex;
      justify-content: center;
      align-items: center;

      .oldPrice {
        text-decoration: line-through;
        color: $productBox-oldPrice;
        padding: 0 10px;
      }
    }
  }

  .active {
    background-color: $productBox-active;
    color: $productBox-bg;
  }
}
