@import "../../../styles/settings.scss";

.welcome {
  color: $topBar-link-hover;
  
    span {
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .welcome {
        font-size: 0;
    }
}
