@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $primary;
      position: absolute;
      font-size: 20px;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      font-size: 18px;
      right: 8px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      font-size: 12px;
      background-color: transparent;
      padding: 0px 30px 0px 45px;
      position: relative;
      text-align: center;
      z-index: 1;
    }

    select:focus {
      outline: none;
    }    
  }
  
  .category:hover select {
    color: $primary;
    transition: 0.1s;
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
