@import "../../../styles/settings.scss";

.photo {
    padding: 80% 10px 0 10px;
    background: $tableItem-bg center/cover no-repeat;
    position: relative;

    .outlines {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: absolute;
        top: 30%;

        > div {
            margin-bottom: 5px;
        }
    }

    .sale {
        color: $topSeller-sale-price;
        background-color: $topSeller-sale-bg;
        padding-top: 25px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: 48%;
        right: 10%;
        z-index: 1;

        .price, .oldPrice, .slogan {
            line-height: 1.2;
        }

        .oldPrice, .slogan {
            font-size: 12px;
        }

        .price {
            font-size: 15px;
        }

        .oldPrice {
            text-decoration: line-through;
        }
    }

    .product {
        background: repeating-linear-gradient(-45deg, $topSeller-product-bg-gradient-dark 0, $topSeller-product-bg-gradient-dark 10%, $topSeller-product-bg-gradient-light 0, $topSeller-product-bg-gradient-light 90%, $topSeller-product-bg-gradient-dark 0, $topSeller-product-bg-gradient-dark 100%);
        box-shadow: 1px 1px 3px $topSeller-sale-bg;
        width: 40%;
        height: 20%;
        text-align: center;
        padding: 20px 10px;
        position: absolute;
        top: 65%;
        right: 0;

        h5 {
            font-size: 14px;
            font-weight: 600;
        }
    }
}

button {
    width: 30px;
    height: 50px;
    color: white;
    background-color: black;
    border: none;
}

.imageCarousel {
    width: 73px;
    height: 50px;
    margin-left: 2px;
    margin-right: 2px;
    object-fit: cover;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    .layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .7;
    }
}