@import "../../../styles/settings.scss";
@import "../CompanyClaim/CompanyClaim.module.scss";

.root {
  min-width: 320px;
}

.wrapper {
  padding: 1rem 10px 1rem 0;
}

img {
  margin-bottom: -40px;
}

.phoneNumber {
  padding-right: 50px;
  margin-top: 5px;
  p {
    font-size: 14px;
    text-align: right;
  }
}

@media (max-width: 568px) {
  img {
    margin-bottom: -30px;
  }
  .phoneNumber {
    p {
      .icon {
        margin-right: 0.2rem;
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 420px) {
  img {
    width: 80%;
  }

  .phoneNumber {
    p {
      .icon {
        margin-right: 0.1rem;
        font-size: 24px;
      }
    }
  }

  .cart{
    padding-right: 70px;
  }
}
